/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* body start */
body {
    font-family: 'Poppins', sans-serif;
}

/* header section start */
.header-body {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    height: 500px;
}
.header-section {
    width: 90%;
    margin: 0px auto;
}
.header-left {
    width: 45%;
    margin-left: 5%;
    float: left;
    margin-top: 60px;
}
.header-left h1 {
    font-weight: 500;
    font-size: 40px;
    line-height: normal;
}
.header-left h3 {
    font-weight: 600;
    line-height: 90px;
}
.header-left p {
    color: #888888;
    font-size: 15px;
    line-height: normal;
    margin-bottom: 40px;
}
.header-left a {
    text-decoration: none;
    color: #ffffff;
    background-image: linear-gradient(45deg, #F6916E, #FA6957);
    padding: 10px 15px;
    border-radius: 5px;
}
.yellow-colour {
    color: #FFA500;
}
.header-right {
    width: 45%;
    margin-left: 5%;
    float: right;
    margin-top: 40px;
}
.header-right img {
    width: 100%;
}
/* header section end */

/* dream section start */
.dream-section {
    width: 90%;
    margin: 0px auto;
    height: 500px;
}
.dream-left {
    width: 45%;
    margin-left: 5%;
    float: left;
    margin-top: 100px;
}
.dream-left img {
    width: 100%;
}
.dream-right {
    width: 45%;
    margin-left: 5%;
    float: right;
    margin-top: 100px;
}
.dream-right h1 {
    font-weight: 500;
    font-size: 40px;
    line-height: normal;
}
.dream-right h3 {
    font-weight: 600;
    line-height: 90px;
}
.dream-right p {
    color: #888888;
    font-size: 15px;
    line-height: normal;
    margin-bottom: 40px;
}
.dream-right a {
    text-decoration: none;
    color: #ffffff;
    background-image: linear-gradient(45deg, #F6916E, #FA6957);
    padding: 10px 15px;
    border-radius: 5px;
}
/* dream section end */

/* experienc section start */
.experienc-body {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left center;
    margin-top: 150px;
}
.experienc-body h1 {
    font-weight: 500;
    font-size: 40px;
    line-height: normal;
}
.experienc-section {
    width: 90%;
    margin: 0px auto;
    height: 500px;
}
.experienc-left {
    width: 45%;
    float: left;
    border-left: 6px solid;
    border-image: linear-gradient(180deg, #0002FF, #00FBFF);
    border-image-slice: 1;
    padding-left: 3%;
    box-shadow: 5px 5px 30px 3px #888888;
    background-color: #ffffff;
    height: 350px;
    padding-top: 50px;
}
.experienc-left h2 {
    font-weight: 500;
    font-size: 35px;
    line-height: normal;
    margin-bottom: 20px;
}
.experienc-left p {
    color: #888888;
    font-size: 15px;
    line-height: normal;
    margin-top: 20px;
}
.experienc-right {
    width: 45%;
    float: right;
    border-left: 6px solid;
    border-image: linear-gradient(180deg, #0002FF, #00FBFF);
    border-image-slice: 1;
    padding-left: 3%;
    box-shadow: 5px 5px 30px 3px #888888;
    background-color: #ffffff;
    height: 350px;
    padding-top: 50px;
}
.experienc-right h2 {
    font-weight: 500;
    font-size: 35px;
    line-height: normal;
    margin-bottom: 20px;
}
.experienc-right p {
    color: #888888;
    font-size: 15px;
    line-height: normal;
    margin-top: 20px;
}
/* experienc section end  */

/* footer section start */
.footer-section p {
    text-align: center;
    color: #888888;
    font-size: 12px;
    margin-top: 100px;
}
/* footer section end */
